<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"> <!-- this code is so that home is not always active because it is at the root -->
        <a routerLink="/">Home</a></li> <!-- remove href from <a> -->
        <li role="presentation"
        routerLinkActive="active">
        <a routerLink="servers">Servers</a></li>
        <li role="presentation"
        routerLinkActive="active">
        <a [routerLink]="['users']">Users</a></li> <!-- binding allows you to construct more complex paths easily -->
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet> <!-- marks the place in our document where we want the Angular router to load the component of the currently selected route ..on the top level.. child need diff spot -->
    </div>
  </div>
</div>
